
body {
     display: flex;
    min-height: 100vh;
    flex-direction: column;     
    font-family: 'Montserrat', sans-serif; 
    /* background-image: url("/Project1/assets/css/bgpic1.jpeg") */
    min-height: 100vh;
  }
  .headerDiv > a {
    font-family: 'Leckerli One', cursive;
    font-size: 60px;

  } 

h6 {
    font-weight: bold;
  }

/* main {
    flex: 1 0 auto;
  } */

nav {
    background-color: #E85A4F;
}

.card {
    /* width: 300px;
    height: 300px; */
    overflow: hidden;
}
 /* ul {
     font-weight: bold;
 } */

 .card-title {
     text-align: center;
     font-weight: bold;
 }
 footer {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
 }

  main {
    flex: 50 auto;
    /* background-color: #eae7dc; */
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }


  .headerDiv {
      background-color: #d8c3a5
  }


  .recipeSearchDiv{
      margin-top: 60px

  }

  .recipeSearchDiv, .ingredientsDiv {

display: flex;
flex-direction: row;

  }

  .bttnSubmit {

    background-color:  #e85a4f ;
 }

 .footerDiv {
    background-color: #d8c3a5;
    margin-bottom: 0px;}


/*  ------ testing------ */
.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: #E85A4F;
    color: white;
    padding: 0; 
}
.recipeHeader {
  font-size: 20px;
  background-color: #8E8D8A;
  color: white;


}
.recipeImage {
  overflow: auto;
}
@media screen and (max-width: 760px) {
}
 @media screen and (max-width: 480px){
 }