
body {
    /* display: flex; */
    min-height: 100vh;
    /* flex-direction: column; */
  }

h6 {
    font-weight: bold;
  }

/* main {
    flex: 1 0 auto;
  } */

nav {
    background-color: #E85A4F;
}

.card {
    /* width: 300px;
    height: 300px; */
    overflow: hidden;
}
 /* ul {
     font-weight: bold;
 } */

 .card-title {
     text-align: center;
     font-weight: bold;
 }
 footer {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
 }